<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Covid Crisis</title>
    <style>
        body {
            background-image: linear-gradient(rgba(70, 0, 0, 0.9), rgba(51, 44, 44, 0.9)) ,url(https://zenodo.org/api/files/00000000-0000-0000-0000-000000000000/covid-19/logo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
          }
        h2 {
          text-align:center;
          color: black;
          font-family: times new roman;
          font-size: 300%;
         border: 0.5px solid rgb(0, 0, 0);
        
        }
        h3{
          color: red;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 150%;
          padding: 10px;
          border-style: outset;
         border: 0.5px solid rgb(0, 0, 0);
        }
        h4{
            color: rgb(198, 163, 163);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 110%;
            border: 0.5px solid rgb(0, 0, 0);
            padding: 10px;
            padding-right: 70px;
          }
       
        </style>
        </head>
        <body>
          
        <h2><b>Covid Crisis in  India</b></h2>
        <h3> The Newsroom Counting the Uncounted Deaths:</h3>
        <h4><i>On 1 April, the wife and daughter of an editor of a leading newspaper in India's western state of Gujarat went to a state-run hospital to get the daughter a Covid-19 test.

            Waiting in the queue, they noticed two body bags on gurneys. Workers at the hospital in the capital, Gandhinagar, said the patients had died of Covid-19.
            
            The mother and daughter returned home and told Rajesh Pathak, who edits a local edition of Sandesh, what they that had seen.
            
            Mr Pathak called his reporters that evening and decided to investigate further. "After all, the government press statements were showing no Covid-19 deaths for Gandhinagar yet," he said. Only nine deaths from Covid-19 were officially recorded in Gujarat that day.</i></h4>    
        

            <p><i><u>Soutik Biswas</u> |Mumbai| Published 14.05.21, 20:12 GMT</i></p>

            <h3> India’s Covid-19 Crisis Diminished Narendra Modi:</h3>
            <h4><i>The “big read” in the 'Financial Times' of the UK on Thursday was a 2,300-word news report and analysis, headlined, “How India’s Covid-19 crisis diminished Narendra Modi: Many Indians feel abandoned by a leader who ignored signs of a second wave and appears indifferent to their plight.”

                It appears that the Indian government has given up countering the rising crescendo of foreign news media criticism aimed at Modi because of his alleged mishandling of the Covid crisis, of which the full front attack in the FT is the latest example.
                
                As for the future, the FT says: “Regional parties have been buoyed by the victory of West Bengal’s incumbent chief minister, Mamata Banerjee, who withstood the full force of the BJP’s electoral machinery in just concluded state elections.”</i></h4>    
            
                <p><i><u>Shreya Sahu</u> |Delhi| Published 21.05.21, 13:19 GMT</i></p>
        </body>
        </html>